@font-face
{
    font-family: Futura;
    src: url(font/futur.ttf);
}

body {
    font-family: Futura;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 2em 0;
    margin: 0 1em;
    border-bottom: 3px solid black;
    top: 0;
    background-color: white
}

.information_header {
    display: flex;
    flex-wrap: wrap;
}

.information_header a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.information_header a:hover {
    color: #FEF200;
}

#about {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

#about img {
    margin: 10px 
}

#about div {
    margin: 10px;
    width: 60%;
}

.swag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.type_skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 15px ;
}

.type_skill:hover{
    background-color: lightgray;
}

.skill {
    width: 100%;
    margin: 5px 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.progress {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.dot {
    margin: 0 3px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
}

.empty_dot {
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: grey;
}

.travaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intersection {
    width: 50vw;
    height: 3px;
    background-color: black;
    margin: 50px  auto;
}